<div class="container">
  <h1>{{$ctrl.title}}</h1>

  <div class="permission-table">
    <div class="permission-header">
      <div class="permission-cell permission-title">Sections</div>
      <div class="permission-cell permission-view">
        <label>
          <input type="checkbox" ng-model="$ctrl.permissionsAll.view" ng-change="$ctrl.permissionAllChanged('view')"
            name="" id="">
          Check all
        </label>
      </div>
      <div class="permission-cell permission-edit">
        <label>
          <input type="checkbox" ng-model="$ctrl.permissionsAll.edit" ng-disabled="!$ctrl.permissionsAll.view"
            ng-change="$ctrl.permissionAllChanged('edit')"
            name="" id="">
          Check all
        </label>
      </div>
      <div class="permission-cell permission-remove">
        <label>
          <input type="checkbox" ng-model="$ctrl.permissionsAll.remove" ng-disabled="!$ctrl.permissionsAll.edit"
            ng-change="$ctrl.permissionAllChanged('remove')"
            name="" id="">
          Check all
        </label>
      </div>
    </div>

    <div ng-repeat="permission in $ctrl.permissions" class="permission-row">
      <div class="permission-cell permission-title">{{ permission.section }}</div>
      <div class="permission-cell permission-view">
        <label>
          <input type="checkbox" ng-model="permission.permissions.view"
            ng-change="$ctrl.permissionChanged(permission.permissions, 'view')" name="" id="">
          View
        </label>
      </div>
      <div class="permission-cell permission-edit">
        <label>
          <input type="checkbox" ng-model="permission.permissions.edit" ng-disabled="!permission.permissions.view"
            ng-change="$ctrl.permissionChanged(permission.permissions, 'edit')" name="" id="">
          Edit
        </label>
      </div>
      <div class="permission-cell permission-remove">
        <label>
          <input type="checkbox" ng-model="permission.permissions.remove" ng-disabled="!permission.permissions.edit"
            ng-change="$ctrl.permissionChanged(permission.permissions, 'remove')" name="" id="">
          Remove
        </label>
      </div>

      <!-- <div class="debug">
        <h4>View:{{ permission.permissions.view }}</h4>
        <h4>Edit:{{ permission.permissions.edit }}</h4>
        <h4>Remove:{{ permission.permissions.remove }}</h4>
      </div> -->
    </div>

    <div class="permission-save">
      <button ng-click="$ctrl.permissionsSave()" class="permission-save-btn">Save</button>
    </div>
  </div>
</div>